<%- include('nav') %>

<div class="container bootdey" style="padding-top: 50px;">
    <h1>Admin Dashboard</h1>


    <!-- Table to Display Data -->
    <table>
        <thead>
            <tr>
                <th>Data ID</th>
                <th>Data Name</th>
                <th>Image</th>
                <th>Category</th>
                <th>Price</th>
                <th>DiscountPrice</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% data.contents.forEach((row,index)=>{ %>
                <tr>
                    <td><%= row.id %></td>
                    <td><%= row.goods_name %></td>
                    <td><img src="<%= row.goods_image %>" alt="Image" height="50"></td>
                    <td><%= row.category %></td>
                    <td><%= row.goods_price %></td>
                    <td><%= row.goods_discount_price %></td>
                    <td>
                        <button onclick="location.href='/admin/edit/<%= row.id %>'">Edit</button>
                        <button onclick="location.href='/admin/delete/<%= row.id %>'">Delete</button>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <form action="/admin/input" method="get">
        <button class="btn btn-primary btn-md col-md-1" type="submit" style="margin-top: 10px;">데이터 추가</button>
    </form>

    <div class="col-md-9">
		<section class="">
		<div class="panel-body">
			<div class="pull-right">
				<ul class="pagination pagination-sm pro-page-list">
					<li <%if(data.pageNum == 1){%> class="disabled" <%}else{%>class="waves-effect" <%}%> >
						<a <%if(data.pageNum > 1){%> href="?pageNum=<%=data.pageNum-1%>" <%}%>>
							<i class="glyphicon glyphicon-arrow-left"></i>
						</a>
					  </li>
					 <% for(var i=data.pnStart; i<=data.pnEnd; i++){ %> <li <%if(i===data.pageNum){%> class="active"
						 <%}%>><a href="?pageNum=<%=i%>"><%=i%></a></li>
					   <% } %>
					   <li <%if(data.pageNum == data.pnTotal){%> class="disabled" <%}else{%> class="waves-effect" <%}%>>
						<a <%if(data.pageNum < data.pnTotal){%> href="?pageNum=<%=data.pageNum+1%>" <%}%> class="waves-effect">
						<i class="glyphicon glyphicon-arrow-right"></i>
					  </a>
					</li>
				</ul>
			</div>
		</div>
		</section>

    <!-- Form to Add New Data -->
    <!-- ... -->
</div>
</body>
</html>